.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

html{
    height: 100%;
    background-color: #b0babf;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width : 44px;
    height : 44px;
    border-width: 1px;
    border-radius: 15px;
    background-color: grey;
    margin: 4px;
    color:whitesmoke;
    font-weight: bold;
    box-shadow: 0px 0px 2px 2px grey;
    
}

#main {
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
    width: 220px;
    height: 380px;
    margin-top: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
    box-shadow: 0px 0px 2px 2px grey;
}

#fullDisplay {
    background-color: whitesmoke;
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
    border-radius: 5px;
    width : 200px;
    height : 50px;
    margin: 3px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0px 0px 2px 2px grey;
}

#equationDisplay {
    height : 20px;
    display: flex;
    font-size: small;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

#promptDisplay {
    height : 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}